@font-face {
  font-family: 'riccione-lightregular';
  src: url("fonts/bp18342-webfont.eot");
  src: url("fonts/bp18342-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bp18342-webfont.woff2") format("woff2"), url("fonts/bp18342-webfont.woff") format("woff"), url("fonts/bp18342-webfont.ttf") format("truetype"), url("fonts/bp18342-webfont.svg#riccione-lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'riccione-mediumregular';
  src: url("fonts/bp18344-webfont.eot");
  src: url("fonts/bp18344-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bp18344-webfont.woff2") format("woff2"), url("fonts/bp18344-webfont.woff") format("woff"), url("fonts/bp18344-webfont.ttf") format("truetype"), url("fonts/bp18344-webfont.svg#riccione-mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'riccione-boldregular';
  src: url("fonts/bp18346-webfont.eot");
  src: url("fonts/bp18346-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bp18346-webfont.woff2") format("woff2"), url("fonts/bp18346-webfont.woff") format("woff"), url("fonts/bp18346-webfont.ttf") format("truetype"), url("fonts/bp18346-webfont.svg#riccione-boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
