/*
==================================================
Main
==================================================
*/

.canvas {
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  display: table;
  height: 1rem;
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 999999;
  background: #fff;
  top: 0;
  padding: 0 4rem;
  left: 0;
  
  .row {
    display: table-cell;
  }

  p {
    line-height: 2rem;
    margin: 0;
    text-align: right;
    
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .logo {

    img {
      position: relative;
    }
  }
}