/*
==================================================
Main
==================================================
*/

.canvas {
  background: url("../img/map_135.png") center 750px no-repeat;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  display: table;
  height: 1rem;
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 999999;
  background: #fff;
  top: 0;
  padding: 0 4rem;
  left: 0;
  
  .row {
    display: table-cell;
  }

  p {
    line-height: 2rem;
    margin: 0;
    text-align: right;
    
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .logo {

    img {
      position: relative;
    }
  }
}

section hgroup {
  margin-bottom: 5rem;
}

main   {
  //background: url("../img/map_135.png") center top no-repeat;
  
  section>img {
    display: block;
    margin: 0 auto 3.5em;
  }
}

.highlight {
  background: rgba(255,255,255,.5);
  //border: 1px solid rgba(238,116,4,.5);
  border: 2px solid rgba(238,116,4,0);
  //box-shadow:  inset 0 0 0 1px rgba(238,116,4,.75), inset 0 0 0 3px rgba(255,255,255,1), inset 0 0 0 4px rgba(238,116,4,.25);
  margin: 3em auto;
  max-width: 500px;
  padding: 2.5em 0 2em;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &:hover {
    background: rgba(255,255,255,1);
    border: 2px solid rgba(238,116,4,.25);
  }
}

.content-main {
  max-width: 800px;
}

.inverted {
  background: rgba(238,116,4,.9);
  color: rgba(255,255,255,.9);
  text-align: left;

  p, h1, h2, h3, h4 {
    color: rgba(255,255,255,.9);
  }
}

.inverted2 {
  background: rgba(34,81,132,.9);
  color: rgba(255,255,255,.9);
  text-align: left;

  p, h1, h2, h3, h4 {
    color: rgba(255,255,255,.9);
  }
}
.card {
  border: 1px solid rgba(0, 0, 0, .1);
}

footer {
  margin-bottom: 1em;

  .row {
    background: url("../img/map_135.png") center 0 no-repeat rgba(34,81,132,.9);
    color: rgba(255,255,255,.9);
    //height: 200px;
    margin: 0;
    
    h3 {
      color: $colorHighlight;
    }
  }
}
.list-wrap {
  
  ul {
    float: left;
    width: 44%;

    &:nth-child(2) {
      float: right;
    }
  }
}
#featured-trips {
  padding-top: 1em;
}
a[href="#featured-trips"] {
  background: url("../img/arrow-down.png") no-repeat 50% 75% $colorHighlight;
  margin-top: 2em;
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  bottom: -40px;
  padding: 1rem 1rem 2rem;
  z-index: 9999999999999;

  &:hover {
    //box-shadow: inset 0 0 0 1px rgba(255,255,255,1), inset 0 0 0 2px $colorHighlight, inset 0 0 0 2px rgba(255,255,255,1);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0), inset 0 0 0 2px rgba(0,0,0,0), inset 0 0 0 2px rgba(255,255,255,0);
    color: $colorHighlight;
    //background: url("../img/arrow-down-hover.png") no-repeat 50% 80% rgba(255,255,255,1);
    background: url("../img/arrow-down-hover.png") no-repeat 50% 80% rgba(255,255,255,1);
    //border: 2px solid $colorHighlight;
    border: 2px solid rgba(0,0,0,0);
    padding-bottom: 2.25rem;
    bottom: -45px;
  }
}